#ui-datepicker-div{
	display: none;
	background: #FFFFFF;
	border: 1px solid #CCC;
	border-radius: 10px;
	padding: 5px;
	user-select: none;
}

.ui-datepicker-trigger{
	cursor: pointer;
}

.ui-icon{
	user-select: none;
}

.ui-corner-all{
	user-select: none;
}

.ui-datepicker-prev{
	cursor: pointer;
	float: left;
	font-size:  10px;
	color: #CCC;
}

.ui-datepicker-next{
	cursor: pointer;
	float: right;
	font-size:  10px;
	color: #CCC;
}

.ui-datepicker-calendar td{
	border: 1px solid #CCC;
	border-radius: 3px;
	background: #FFF;
	text-align: center;
	cursor: pointer;
	
}

.ui-state-default{
	color: #2E6E9E;	
}

.ui-datepicker-title{
	text-align: center;
	padding-bottom: 4px;
	font-size: 12px;
}

.ui-datepicker-calendar td:hover{
	background: #C5DBFE;
}


.ui-datepicker-calendar{
	background: #F0F0F0;
}

.ui-datepicker-unselectable{
	cursor: default !important;
}
